<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>konfiguracija</param-name>
        <param-value>NWTiS.db.config_1.xml</param-value>
    </context-param>
    <filter>
        <filter-name>FilterZahtjeva</filter-name>
        <filter-class>org.foi.nwtis.kgrcevic.web.filteri.FilterZahtjeva</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterZahtjeva</filter-name>
        <url-pattern>/zasticeno/index.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterZahtjeva</filter-name>
        <url-pattern>/zasticeno/pregledDnevnika.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterZahtjeva</filter-name>
        <url-pattern>/zasticeno/pregledMeteoPodataka.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterZahtjeva</filter-name>
        <url-pattern>/zasticeno/pregledZahtjeva.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterZahtjeva</filter-name>
        <url-pattern>/zasticeno/dokumentacija.html</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>org.foi.nwtis.kgrcevic.web.slusaci.SlusacAplikacije</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>PokretacDretve</servlet-name>
        <servlet-class>org.foi.nwtis.kgrcevic.web.PokretacDretve</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MeteoServis</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PokretacDretve</servlet-name>
        <url-pattern>/PokretacDretve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeteoServis</servlet-name>
        <url-pattern>/MeteoServis</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>PrijavaKorisnika</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>org.foi.nwtis.kgrcevic.web.NeuspjesnaPrijava_1</exception-type>
        <location>/errorLogin_1.jsp</location>
    </error-page>
    <error-page>
        <exception-type>org.foi.nwtis.kgrcevic.web.NeuspjesnaPrijava_2</exception-type>
        <location>/errorLogin_2.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>SSL</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/PregledDnevnika</url-pattern>
            <url-pattern>/PrijavaKorisnika</url-pattern>
            <url-pattern>/PregledMeteoPodataka</url-pattern>
            <url-pattern>/PregledZahtjeva</url-pattern>
            <url-pattern>/Index</url-pattern>
            <url-pattern>/Dokumentacija</url-pattern>
            <url-pattern>/OdjavaKorisnika</url-pattern>
            <url-pattern>/ProvjeraKorisnika</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/errorLogin_2.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role> --&gt;
 --&gt;
</web-app>
